/src/PXMessenger.pro.user
/src/Makefile*
/build-win32/obj/*
/build-win32/moc/*
/build-win32/ui/*
/build-win32/rcc/*
/build-unix/obj/*
/build-unix/moc/*
/build-unix/ui/*
/build-unix/rcc/*
/build-unix/debug
/build-unix/release
/build-win32/debug
/build-win32/release
/PXMessenger
/src/.qmake.stash
/src/object_script*
/src/pxmessenger_plugin_import.cpp
/build-PXMessenger-*
